.container{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;

}
.container .infomation{
    text-align: left;
    width: 50%;
    margin-left: 25%;
}
.container .box_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 25%;
}
.container .box_container .info_box{
    text-align: left;
    display: inline-block;
}

