.container{
    padding-top: 5%;

    text-align: center;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;

}
.container .infomation{
    text-align: left;
    width: 50%;
    margin-left: 25%;
}
.container .box_container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-left: 25%;
}
.container .box_container .info_box{
    text-align: left;
    display: inline-block;
}
.container .box_container .info_box span{
    font-weight: bold;
    color: blueviolet;
}

.container .Image img{
    max-width: 25%;
    border-radius: 5%;
}

.container .Image img:hover {
    transform: translate(0, 7px);
    box-shadow: 20px 20px 20px -10px #f4d210;
}

