.container_3{
    padding-bottom: 20px;
}
.container_3 *{
    text-align: center;
}

.container_3 .box .row .contact{
    display: inline-block;
}
.container_3 .box .row .contact p{
    margin-left: 10px;
}