.App .navbar ul li p{
  font-family: 'Sofia Sans', sans-serif;
  font-weight: bold;
}
.App .basic_info .main_info{
  font-family: 'Sofia Sans', sans-serif;
}

.App {
  min-width: 100%;
  background-position: center;
  background-size: cover;
}
.navbar{
  position: fixed;
  background-color: rgb(20, 73, 106);
  width: 100%;
  height: 90px;
  z-index: 2;
}
.navbar ul{
  margin-top: 0px;
  text-align: right;
  padding-top: 20px;
  padding-right: 80px;
}
.navbar ul li{
  display: inline-block;
  list-style: none;
  width: 150px;
  height: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar ul li a{
  font-weight: 500;
  text-decoration: none;
  color: azure;
}

.navbar ul:hover{
  background: #dfca58;
}
.navbar ul li:hover{
  background: rgb(214, 154, 43);
}
.navbar ul:hover a{
  color: black;
}

.basic_info{
  margin-top: -20px;
  background: #242D40;
  display: flex;
  padding-bottom: 10%;
  z-index: 1;
}
.main_img{
  min-width: 15%;
  border-radius: 50%;
  border: 20px solid #6c7ea4;
  margin-top: 10%;
  margin-left: 15%;
  animation: main_info_ani .7s linear forwards;
}
.main_img:hover{
  border: 20px solid #f4d210;
}

.main_info{
  text-align: left;
  color: azure;
  animation: main_info_ani 1.2s linear forwards;
  margin-left: 10%;
  margin-top: 17%;
}
.main_info:hover{
  color: #f4d210;
  
}



@keyframes main_info_ani{
  0%{
    transform: translate(-100px);
    opacity: 0;
  }
  100%{
    transform: translate(0px);
    opacity: 1;
  }
}


.download{
  margin-left: 10%;
  margin-top: 3%;
}
.download h3{
  display: inline-block;
  padding-right: 10px;
}
.dlh{
  color: red;
  margin-right: 20px;
}
.download button{
  padding: 20px 20px 20px 20px;
  margin-right: 30px;
  border: none;
  border-radius:10%;
}
.download button:hover{
  background-color: #f4d210;
}